<h2>AOE4 Pick and Ban Renderer</h2>
<div class="sizes">
    <p-avatar></p-avatar>
    <!--<input class="hidden" type="file" id="upload-file" name="upload-file" ngf-max-size="2MB" (change)="addAttachment($event)">-->
    <p-avatar></p-avatar>
    <p-avatar icon="pi pi-search"></p-avatar>
    <p-avatar image="user1.png"></p-avatar>

    <input type="text" class="p-inputtext-lg" placeholder="Player1" pInputText/> 1 2
    <input type="text" class="p-inputtext-lg" placeholder="Player2" pInputText/>

    <p-avatar></p-avatar>
    <p-avatar icon="pi pi-search"></p-avatar>
    <p-avatar image="user2.png"></p-avatar>

</div>
<div class="sizes">

    <form action="/action_page.php">
        <label for="Player2">Match1</label>
        <input type="radio" id="player1" name="match1" value="Player1">
        <label for="Player1"></label>
        <input type="radio" id="player2" name="match1" value="Player2">
        <label for="Player2"></label>
    </form>
    <br>
    <form action="/action_page.php">
        <label for="Player2">Match2</label>
        <input type="radio" id="player1" name="match1" value="Player1">
        <label for="Player1"></label>
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
        <input type="radio" id="player2" name="match1" value="Player2">
        <label for="Player2"></label>

    </form>
    <br>
    <form action="/action_page.php">
        <label for="Player2">Match3</label>
        <input type="radio" id="player1" name="match1" value="Player1">
        <label for="Player1"></label>
        <input type="radio" id="player2" name="match1" value="Player2">
        <label for="Player2"></label>
    </form>
